.ppmodal {
    position: fixed;
    height: auto;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    top: 30%;
    box-shadow: rgb(67, 70, 69) 1px 1px 7px;
    display: none;
    z-index: 10;
    padding: 30px;
    animation:ppmodal-appear 1s
}

@keyframes ppmodal-appear
{
    from {opacity:0}
    to {opacity:1;}
}

.ppmodal-seacrh{
    width: 30%;
    left: calc((100% - 30%)/2 - 30px);
}


.ppmodal-contact{
    width: 20%;
    left: calc((100% - 20%)/2 - 30px);
}

.ppmodal-login{
    width: 15%;
    left: calc((100% - 15%)/2 - 30px);
}

.ppmodal-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.ppmodal-line{
    display: flex;
    margin-top: 10px;;
}

ppmodal-line-tip{
    text-align:left;color:red;font-size:14px;padding-left:10px;
}

.message-button{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #2108dd;
    background-color: #2108dd;
    font-size: 18px;
    font-weight: bold;
    color: #f7f7fc;
    cursor: pointer;
}

.message-button:hover{
    box-shadow: #08051f 1px 1px 1px;
}

.confirm-button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #2108dd;
    background-color: #2108dd;
    font-size: 18px;
    font-weight: bold;
    color: #f7f7fc;
    cursor: pointer;
}

.confirm-button:hover{
    box-shadow: #08051f 1px 1px 1px;
}


.cancel-button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #eeedeb;
    background-color: #eeedeb;
    font-size: 18px;
    font-weight: bold;
    color: #030341;
    cursor: pointer;
}

.cancel-button:hover{
    box-shadow: #eeedeb 1px 1px 1px;
}



.message-input{
    width: 100%;
    height: 40px;
    outline-style: none;
    border-radius: 5px;
    border: 1px solid #e8e8f4;
    font-size: 16px;
    color: #090910;
    padding-left: 10px;
}

.message-area{
    width: 100%;
    height: 200px;
    outline-style: none;
    border-radius: 5px;
    border: 1px solid #e8e8f4;
    font-size: 18px;
    color: #090910;
    padding: 10px;
    resize: none;
}

.search-input{
    width: 100%;
    height: 40px;
    outline-style: none;
    border: none;
    border-bottom: 1px solid #2108dd;
    font-size: 18px;
    color: #090910;
    padding-left: 10px;
}
.search-button{
    width: 15%;
    height: 45px;
    outline-style: none;
    border-radius:  0 5px 5px 0;
    border: 1px solid #9cd59c;
    font-size: 18px;
    font-weight: bold;
    color: #090910;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #239f40;
    color: white;
}

.search-candidates{
    margin: 0;
    width: 99%;
    text-align: left;
    list-style-type: none;
    padding-left: 10px;
    max-height: 200px;
    height: auto;
    overflow-y: auto;
}
.search-candidates li{
    border-bottom: 1px solid #dbe7db;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
}

.search-candidates li:hover{
    background-color: #3038d2;
    cursor: pointer;
    color: white;
}

.search-candidates-li{

}
.search-candidates-li:focus{
    background-color: #3038d2;
    cursor: pointer;
    color: white;
}
